@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Rammetto+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

img {
  /* user-drag: none; */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* ===================================================================================
==================================== LANDING PAGE ====================================
=================================================================================== */

/* HERO */
.hero {
  min-height: 70vh;
  background: #222220;
  padding: 7vh 5vw;
  position: relative;
  overflow: hidden;
}

.hero_logo {
  width: 175px;
  /* margin-bottom: 60px; */
}

.hero_img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  /* border: 1px solid red; */
  /* width: 50%; */
}

.google_img {
  width: 150px;
  margin-left: 5px;
}

.hero_ornament {
  position: absolute;
  top: 0;
  left: 0;
  width: 7%;
}

.hero_ornament_bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 7%;
  transform: rotate(180deg);
}

@media only screen and (max-width: 425px) {
  .hero_ornament,
  .hero_ornament_bottom {
    width: 15%;
  }
  .google_img {
    width: 50px;
  }
}

.hero h1 {
  /* font-family: "Rammetto One", cursive; */
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;

  /* margin-bottom: 10px; */
}

.hero h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
  /* margin-bottom: 25px; */
}

.hero p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 40px;
  width: 60%;
}

.hero button {
  background: #a56f29;
  border-radius: 10px;
  border: transparent;
  height: 65px;
  width: 180px;
  margin-right: 20px;

  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.learn_more {
  width: 200px !important;
}

.hero button:hover {
  cursor: pointer;
}

.hero button:focus {
  outline: none;
}

.hero_container {
  width: 80%;
  /* border: 1px solid red; */
}

.from_yokesen {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;

  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 25px;
}

@media only screen and (max-width: 425px) {
  .hero {
    min-height: 40vh;
    padding: 7vh 5vw;
  }
  .hero_container {
    width: 100%;
  }
  .hero_logo {
    width: 125px;
    margin-left: 10px;
  }
  .hero h1 {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 0;
  }

  .hero h2 {
    font-size: 11px;
    line-height: 16px;
    width: 100%;
    margin-bottom: 0;
  }

  .hero p {
    font-size: 9px;
    line-height: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
  }

  .hero button {
    border-radius: 5px;
    height: 35px;
    width: 90px;
    margin-right: 10px;

    font-size: 8px;
    line-height: 12px;
    margin-top: 15px;
  }

  .from_yokesen {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .learn_more {
    width: 100px !important;
  }
}

/* SECTION ONE */
.section_one {
  margin: 50px auto;
}

.section_one h2 {
  /* font-family: "Rammetto One", cursive; */
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}

.section_one_item img {
  margin: 50px auto;
  height: 111.5px;
}

.section_one_item h5 {
  font-weight: bold;
  font-size: 17px;
  line-height: 25px;
  color: #222220;
}

.section_one_item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  width: 70%;
}

@media only screen and (max-width: 425px) {
  .section_one h2 {
    font-size: 18px;
    line-height: 22px;
  }

  .section_one_item h5 {
    font-size: 15px;
    line-height: 22px;
  }

  .section_one_item p {
    font-size: 13px;
    line-height: 19px;
    /* border: 1px solid red; */
  }
}

/* SECTION 2 */
.section_two {
  margin-top: 100px;
  padding-bottom: 100px;
  /* margin-bottom: 100px; */
  /* position: relative; */
}

.section_two h2 {
  /* font-family: "Rammetto One", cursive; */
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}

.section_two_img {
  padding: 0 !important;
}

.section_two_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_two_desc img {
  width: 100px;
  margin-bottom: 50px;
}

.section_two_desc h1 {
  /* font-family: "Rammetto One", cursive; */
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}

.section_two_desc p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.7);
  width: 60%;
}

.bukti2 {
  text-align: right;
}

.bukti2_img {
  order: 2;
}

.bukti2_desc {
  order: 1;
  align-items: flex-end;
}

@media only screen and (max-width: 425px) {
  .section_two h2 {
    font-size: 18px;
    line-height: 20px;
  }
  .section_two .row {
    margin-top: 75px;
  }
  .section_two_img {
    order: 2;
  }
  .section_two_desc {
    order: 1;
    align-items: center;
  }

  .section_two_desc h1 {
    font-size: 14px;
    line-height: 17px;
  }

  .section_two_desc img {
    width: 50px;
    margin-bottom: 15px;
  }

  .section_two_desc p {
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    text-align: center;
  }

  .bukti2 {
    text-align: center;
  }
}

/* ===================================================================================
================================== END LANDING PAGE ==================================
=================================================================================== */

/* ===================================================================================
===================================== HOME PAGE ======================================
=================================================================================== */

.home_bg {
  background: #fdfbf9;
  background-image: url("./assets/background-kopi.png");
  background-size: contain;
  padding: 0.1px;
}

/* .bg_kopi {
} */

.home_hero {
  position: relative;
  min-height: 70vh;
}

.home_hero_ellipse {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  z-index: 1;
  opacity: 0.7;
}

.home_hero_content {
  position: relative;
  z-index: 3;
  padding: 25px;
  align-items: center;
}

.home_hero_desc {
  margin-bottom: 25px;
}

.home_hero_left {
  order: 1;
}

.home_hero_right {
  order: 2;
  text-align: right;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  padding: 25px;
}

.menu_link ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu_link ul li {
  list-style: none;
  margin-right: 50px;
}

.home_hero_content p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  color: #673f2b;
  margin-bottom: 25px;
}

.home_hero_content button {
  background: #673f2b;
  border-radius: 100px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  border: transparent;
  padding: 15px 35px;
}

.section_one_container {
  text-align: center;
  margin: 50px auto;
}

.section_one_container h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 22px;
  color: #673d2b;
  margin-bottom: 25px;
}

.search_img {
  margin-bottom: 25px;
}

.home_section_one {
  margin: 25px auto;
}

.home_section_one img {
  height: 125px;
  margin-bottom: 15px;
}

.home_section_one p {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  width: 50%;
  margin: 0 auto;
}

.product_container {
  text-align: center;
  margin: 50px auto;
}

.product_container h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 22px;
  color: #673d2b;
  margin: 75px auto;
}

.product_container .col-md-4 {
  margin-top: 50px;
}

.product_name {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #673d2b;
  margin: 25px auto;
}

.product_desc {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  width: 90%;
  margin: 0 auto;
}

.grontol_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grontol_desc img {
  width: 300px;
  margin-bottom: 25px;
}

.grontol_desc p {
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: justify;
  color: #673f2b;
}

.grontol_desc button {
  background: #673f2b;
  border-radius: 100px;
  border: transparent;
  width: 200px;
  padding: 15px 20px;
  margin-top: 25px;

  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

/* =========== */
.overlay_text {
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}

.effect-image-1 {
  position: relative;
  display: block;
}

.overlay_text {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 100%;
  height: 100%;
  background: rgba(243, 231, 214, 0.8);
  backdrop-filter: blur(8px);
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay_text button {
  background: #673f2b;
  border-radius: 100px;
  border: transparent;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  width: 60%;
  margin: 15px auto;
  padding: 10px 20px;
}

.overlay-text-1 {
  opacity: 0;
  visibility: hidden;
}

.effect-image-1:hover .overlay-text-1 {
  opacity: 1;
  visibility: visible;
}
/* ============ */

@media only screen and (max-width: 425px) {
  .home_hero_desc {
    width: 100%;
  }
  .home_hero_left {
    order: 2;
  }
  .home_hero_right {
    order: 1;
  }
  .home_hero_ellipse {
    width: 70%;
  }
  .home_hero_content p {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
  }
  .home_hero_content button {
    padding: 10px 30px;
  }
  .section_one_container h3 {
    font-size: 24px;
    line-height: 24px;
  }
  .search_img {
    width: 200px;
    margin-bottom: 15px;
  }

  .grontol_desc p {
    font-size: 14px;
    line-height: 28px;
    text-align: left;
  }

  .grontol_desc button {
    width: 200px;
    padding: 10px 15px;
    margin-top: 25px;
  }

  .product_container h3 {
    font-size: 24px;
    line-height: 22px;
    margin: 0 auto;
  }

  .product_img {
    width: 100%;
  }

  .product_desc {
    font-size: 10px;
    line-height: 15px;
  }

  .overlay_text button {
    border-radius: 100px;
    font-size: 10px;
    line-height: 12px;
    width: 80%;
    margin: 10px auto;
    padding: 10px 20px;
  }

  .overlay_text {
    border-radius: 15px;
  }
}
/* ===================================================================================
=================================== END HOME PAGE ====================================
=================================================================================== */

/* ===================================================================================
======================================= FOOTER =======================================
=================================================================================== */
/* FOOTER */
.footer {
  min-height: 5vh;
  border-top: 0.5px solid rgba(0, 0, 0, 0.4);
  position: relative;
  bottom: 0;
  padding: 15px 30px;
  display: flex;
  align-items: baseline;
}

.footer_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_left img {
  margin: 0 5px;
  width: 25px;
}

.footer_left h5 {
  margin-right: 15px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.75);
}

.footer_right {
  margin-left: auto;
}

.footer_right p {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: right;

  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 425px) {
  .footer {
    min-height: 5vh;
    border-top: 0.5px solid rgba(0, 0, 0, 0.4);
    position: relative;
    bottom: 0;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .footer_left h5 {
    font-size: 12px;
    line-height: 16px;
  }

  .footer_right p {
    font-size: 10px;
    line-height: 12px;
  }

  .footer_left img {
    margin: 0 5px;
    width: 20px;
  }
}

/* ===================================================================================
===================================== END FOOTER =====================================
=================================================================================== */
